{% extends 'base/base.html' %}

{% block content %}

     {% if object_list %}
    {% for alumnos in object_list %}

<div class="row">
    <div class="col s12 m7">
        <div class="card">
            <div class="card blue lighten-5">
                <div class="card-content black-text">
                    <span class="card-title">{{ alumnos.nocontrol }}</span>
                    <p>Nombre Completo: {{alumnos.nombre }} {{ alumnos.apellido_paterno }} {{ alumnos.apellido_materno}}</p>
                    <p>Fecha de Nacimiento: {{ alumnos.fecha_nacimiento }}</p>
                    <p>Carrera: {{ alumnos.carreras }}</p>
        </div>
        <div class="card-action">
            <a class="btn green" href="{% url 'alumnos:alumno_mostrar' alumnos.nocontrol %}"><i class="material-icons">zoom_in</i> </a>
            <a class="btn blue" href="{% url 'alumnos:alumno_editar' alumnos.nocontrol %}"><i class="material-icons">create</i></a>
            <a class="btn red" href="{% url 'alumnos:alumno_eliminar' alumnos.nocontrol %}"><i class="material-icons">delete</i></a>
        </div>
      </div>
    </div>
  </div>
        {% endfor %}
                {% else %}
		            <h1>No hay registros de alumnos</h1>
		        {% endif %}

    <div class="row">
        <div class="col s12 m12 l12">
            <ul class="pagination center">
	            <li>
		        {% if page_obj.has_previous %}
       	            <a class="btn blue" href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">navigate_before</i></a>
		        {% endif %}
                </li>
	            <li>
		        {% if page_obj.has_next %}
                    <a class="btn red" href="?page={{ page_obj.next_page_number }}"><i class="material-icons">navigate_next</i></a>
    	        {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>>
{% endblock%}