{% extends 'base/bases.html' %}

{% block content %}
<div class="row">
    <div class="col s12 m12 l12">
        <table class="striped">
	        <thead>
		        <tr>
			        <td>ID Carrera</td>
			        <td>Nombre</td>
                </tr>
            </thead>
            <tbody>
		        {% if object_list %}
		        {% for carreras in object_list %}
		        <tr>
			        <td>{{ carreras.id }}</td>
			        <td>{{ carreras.nombre }}</td>
			        <td>
				        <a class="btn" href="{% url 'carreras:carrera_ver' carreras.id %}"><i class="material-icons">zoom_in</i></a>
                        <a class="btn blue" href="{% url 'carreras:carrera_edita' carreras.id %}"><i class="material-icons">create</i></a>
                        <a class="btn red" href="{% url 'carreras:carrera_borrar' carreras.id %}"><i class="material-icons">delete</i></a>
			        </td>
		        </tr>
		        {% endfor %}

                {% else %}
		            <h1>No hay registros de carreras</h1>
		        {% endif %}
            </tbody>
        </table>
    </div>
</div>

    <div class="row">
        <div class="col s12 m12 l12">
            <ul class="pagination center">
	            <li>
		        {% if page_obj.has_previous %}
       	            <a class="btn blue" href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">navigate_before</i></a>
		        {% endif %}
                </li>
	            <li>
		        {% if page_obj.has_next %}
                    <a class="btn red" href="?page={{ page_obj.next_page_number }}"><i class="material-icons">navigate_next</i></a>
    	        {% endif %}
                </li>
            </ul>
        </div>
    </div>
{% endblock%}